<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body class="{{detectMode mode}}">
    {{>header}}
    <div class="app-container">
        <div class="product-container">
            <div class="product-wrapper">
                {{>gallery}}
                {{>price priceObj=(priceHelper product)}}
                {{>info}}
                {{>similars}}
            </div>
            <div class="product-hydration" style="display: none;">{{single}}</div>
        </div>
    </div>
    {{>bottom}}
    {{>fixedPrice}}
    {{>footer}}
    <div class="overlay-container"></div>
    <div class="toast-container"></div>
    <script src="/public/js/product.mjs" type="module"></script>
</body>